.header{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    padding-inline-start: 20px;
}
.header .header-icon{
    width: 200px;
}
.header .header-nav .nav-info-container{
    width: auto;
    height: auto;
    gap: 10px;
}
.nav-info-container .nav-icon{
    background-size: 30px;
    width: 30px;
    height: 30px;
 
}
.header-button-search div span{
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat; 
}
.header-button-search input{
    font-size: 1.8rem;
}
.header-button-search div{
    width: 260px;
    height: 60px;

}
.header-button-search input{
    width: 80%;
}
.category-container{
    width: 286px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 13px;
    top: 30px;
    display: flex;
    opacity: 0.9;
}
.category-container li{
    cursor: pointer;
    margin-block-start: 7px;
    width: 110px;
    border-radius: 5px;
}

.pelis-container h2{
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
}
.flex-card-pelis .pelis-card{
    height: auto;
    width: 180px;
    gap: 30px;
}
.pelis-container button{
    font-size: 1.8rem;
    border-radius: 3px;
    top: 22px;
    right: 43px;
    width: 87px;
    height: 35px;
}
.pelis-card .pelis-card-raking{
    border-radius: 22px;
    gap: 9px;
    height: 67px;
    width: auto;
    right: 1px;
}
.pelis-card .pelis-card-raking p{
    font-size: 2.5rem;
}
.pelis-card-raking span{
    width: 52px;
    height: 44px;
}
.alternative-container h2{
    font-size: 1.8rem;
    line-height: 2.4rem;
}
#movie-poster{
    display: block;
}
.movie-img-container{
    display: flex;
    width: 100%;
    height: 450px;
    padding-inline-start: 2px;
    /* padding-inline-end: 30px; */
    padding-block-start: 10px;
    
}
.movie-img-container img:nth-child(1){
    width: 25%;
    object-fit: cover;
}
.movie-img-container .movie-poster{
    width: 70%;
    object-fit: cover;
}
.movie-container-info{
    max-width: 500px;
    text-align: unset;
}
.movie-container-info h2{
    font-size: 3rem;
    line-height: 2.4rem;
}
.movie-container-info h3{
    font-size: 2rem;
    line-height: 2.5rem;
}
.movie-container-info .movie-sipnosis{
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: left;
}
.movie-stream-title{
    width: 150px;
    height: 50px;
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.movie-stream-container h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}
.movie-stream-container figure {
    width: 80px;
}
.movie-stream-container figure img{
    object-fit: cover;
}
.movie-container-similar .flex-card-pelis{
    gap: 10px;
}
.movie-container-similar{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-block-start: 30px;
    background-image: linear-gradient(to left, #393e46, #333841, #2d333b, #282d36, #222831);
}

.pelis-card:hover {
    transform: scale(1.05);
    opacity: 0.8;
    transition: all 0.3s;
}

.header .nav-icon:hover{
    /* filter: invert(67%) sepia(98%) saturate(816%) hue-rotate(349deg) brightness(93%) contrast(87%); */
    filter: invert(23%) sepia(80%) saturate(1320%) hue-rotate(339deg) brightness(119%) contrast(84%);
}
.header-button-search div span:hover {
    filter: invert(23%) sepia(80%) saturate(1320%) hue-rotate(339deg) brightness(119%) contrast(84%);
}